.check {
    background-color: white;
}

body { 
    background-color: purple;
}

.cart {
    background-color: rgb(129, 63, 167);
}

button {
    pointer-events: all;
}

img { 
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.check p { 
    font-size: 25px;
    color: black;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.check { 
    margin: 15px 3%;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    max-width: 40%;
    width: 100%;
    max-height: 4%;
    height: 100%;
    padding: 10px 15px ;
}

.check button { 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.active { 
    background-color: chartreuse;
}

.cart {
    max-height: 65%;
    height: 100%;
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 50px;
}

.cart div { 
    float: left;
    padding-left: 5%;
    font-size: 25px;
    font-weight: 400;
}
.cart button {
    display: block;
    color: black;
    max-width: 85%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 12%;
    height: 100%;
    border: 1px solid;
    border-radius: 50px;
    margin-top: 6%;
}

.cart div div {
    display: inline;
}

.time form  { 
    text-align: center;
    margin-top: 2%;
    color: black;
    font-size: 15px;
}

#startBtn {
    margin-left: auto;
    margin-right: auto;
}

select {
    margin-top: 1%;
}

.countdown {
    height: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

}

#countdown2, #countdown3, #countdown4, #countdown5 {
    opacity: 0;
}
