.check {
    background-color: white;
}

body { 
    background-color: purple;
}

.cart {
    background-color: rgb(129, 63, 167);
}

button {
    border: none;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.check p { 
    font-size: 25px;
    color: black;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.check { 
    margin: 20px 5%;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    max-width: 35%;
    width: 100%;
    max-height: 4%;
    height: 100%;
    padding: 10px 15px ;
}

.check button { 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.cart { 
    font-size: 30px;
    max-height: 60%;
    height: 100%;
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 50px;
}

.cart div { 
    float: left;
    padding-left: 5%;
}
.cart button {
    display: block;
    color: black;
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 12%;
    height: 100%;
    border: 1px solid;
    border-radius: 50px;
    margin-top: 4%;
}

.cart div div {
    display: inline;
}
